/**
 *General Colors
**/
/**
* General styles
**/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}
/**
* Overriding Bootstrap styles
**/
.btn {
  border-radius: 0;
  color: #fff;
  background-color: #333;
  border: #333;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
  outline-color: transparent;
  outline-style: none;
}
.btn:hover,
.btn:focus {
  background-color: #CB2428;
}
.btn:active {
  background-color: #8a1c1d;
}
/**
* Everything contained in sidebar
**/
#sidebar {
  position: relative;
  width: 250px;
  background-color: #222;
  padding: 10px;
  float: left;
}
#sidebar .chkBx {
  margin: 10px 0;
}
#sidebar .chkBx input {
  vertical-align: top;
}
#sidebar .sidebarDrpdwn {
  padding: 1px;
  margin: 0 0 10px 0;
  /* .drpdwn-content {
            display: none;
        } */
}
#sidebar .sidebarDrpdwn .header {
  padding: 5px;
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: #444;
}
#sidebar .sidebarDrpdwn .header:hover {
  color: #CB2428;
}
#sidebar .sidebarDrpdwn .header .icon {
  margin: 0 5px 0 5px;
  font-size: 1.3em;
}
#sidebar .sidebarDrpdwn .header .text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
}
#sidebar .sidebarDrpdwn .header .drpdwn-toggle {
  float: right;
  margin: 3px 5px 0 0;
}
#sidebar .sidebarDrpdwn .content-components {
  padding: 5px;
  list-style: none;
}
#sidebar .sidebarDrpdwn .content-components li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 10px 5px;
  background-color: #333;
  margin: 0 0 2px 0;
  text-decoration: none;
}
#sidebar .sidebarDrpdwn .content-components li a.active {
  background-color: #8a1c1d;
}
#sidebar .sidebarDrpdwn .content-components li a:hover {
  background-color: #CB2428;
}
#sidebar .sidebarDrpdwn .content-settings {
  padding: 5px;
  list-style: none;
}
#sidebar .sidebarDrpdwn .content-settings li label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
#sidebar .sidebarDrpdwn .content-settings li select {
  width: 100%;
  padding: 3px;
  background-color: #333;
  border-color: #515151;
  color: #fff;
}
#sidebar .sidebarDrpdwn .content-settings li input {
  width: 100%;
  padding: 3px;
  background-color: #333;
  border-color: #515151;
  color: #fff;
}
#sidebar .sidebarDrpdwn .content-settings li.counter {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
}
#sidebar .sidebarDrpdwn .content-settings li.counter .countNo {
  color: #CB2428;
}
#sidebar .sidebarDrpdwn .content-wod .date {
  font-weight: bold;
  color: #CB2428;
}
#sidebar .sidebarDrpdwn .content-wod .wod-block .title {
  margin-bottom: 2px;
  font-weight: bold;
}
#sidebar .sidebarDrpdwn .content-wod .wod-block ul {
  list-style: none;
  padding-left: 20px;
}
#sidebar .sidebarDrpdwn .content-wod .wod-block ul li.active {
  color: #CB2428;
}
/**
* Everything contained in main content
**/
main#content {
  width: calc(100% - 250px);
  float: left;
  padding: 0 20px;
}
main#content #siteHeading {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
main#content #siteHeading .date {
  color: #CB2428;
}
main#content #leaderboard .heading {
  text-transform: uppercase;
  font-weight: bold;
}
main#content #leaderboard .exerciseTable {
  padding: 5px 10px;
  background-color: #222;
}
main#content #leaderboard .exerciseTable table {
  margin-bottom: 0;
}
main#content #leaderboard .exerciseTable table caption {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
main#content #leaderboard .exerciseTable table td {
  border: none;
}
main#content #leaderboard .exerciseTable table tr:first-of-type {
  border-top: 1px solid #ddd;
}
main#content #leaderboard .exerciseTable table .td_date {
  text-align: right;
}
main#content #leaderboard .exerciseTable table .td_reps {
  text-align: right;
}
main#content #leaderboard .athletes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width: 1920px) {
  main#content #leaderboard .athletes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
main#content #leaderboard .athletes .athlete {
  position: relative;
  background-color: #fff;
  padding: 5px;
  margin: 4px 5px;
  height: 300px;
}
main#content #leaderboard .athletes .athlete:first-child {
  margin-left: 0;
}
@media (min-width: 1920px) {
  main#content #leaderboard .athletes .athlete:nth-child(4n+5) {
    margin-left: 0;
  }
  main#content #leaderboard .athletes .athlete:nth-child(4n+0) {
    margin-right: 0;
  }
}
@media (max-width: 1919px) {
  main#content #leaderboard .athletes .athlete:nth-child(3n+4) {
    margin-left: 0;
  }
  main#content #leaderboard .athletes .athlete:nth-child(3n+0) {
    margin-right: 0;
  }
}
main#content #leaderboard .athletes .athlete .thmbnl {
  position: relative;
  height: 50%;
  overflow: hidden;
}
main#content #leaderboard .athletes .athlete .thmbnl .place {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #CB2428;
  font-size: 30px;
  padding: 2px 5px;
  font-weight: bold;
}
main#content #leaderboard .athletes .athlete .thmbnl img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
main#content #leaderboard .athletes .athlete .thmbnl img.portrait {
  width: 100%;
  height: auto;
}
main#content #leaderboard .athletes .athlete .description {
  background-color: #000;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 50%;
  padding: 5px;
}
main#content #leaderboard .athletes .athlete .title {
  font-size: 1.2em;
  width: 90%;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
main#content #leaderboard .athletes .athlete .award {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #ff0;
}
main#content #leaderboard .athletes .athlete .subTitle {
  color: #6e6e6e;
  font-size: 0.9em;
  margin-bottom: 3px;
}
main#content #leaderboard .athletes .athlete .reps {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  color: #CB2428;
}
