/**
 *General Colors
**/

@background-color: #000;
@primary-color-font: #fff;
@box-background-color: #222;
@primary-btn-color: #333;
@primary-btn-color-hover: #CB2428;
@primary-btn-color-active: #8a1c1d;
@dropdown-background-color: #444;
@input-border-color: #515151;