@import "colors.less";

/**
* General styles
**/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: @background-color;
    color: @primary-color-font;
}


/**
* Overriding Bootstrap styles
**/

.btn {
    border-radius: 0;
    color: @primary-color-font;
    background-color: @primary-btn-color;
    border: @primary-btn-color;
    &:hover,
    &:focus,
    &:active {
        color: @primary-color-font;
        outline-color: transparent;
        outline-style: none;
    }
    &:hover,
    &:focus {
        background-color: @primary-btn-color-hover;
    }
    &:active {
        background-color: @primary-btn-color-active;
    }
}


/**
* Everything contained in sidebar
**/

#sidebar {
    position: relative;
    width: 250px;
    background-color: @box-background-color;
    padding: 10px;
    float: left;
    .chkBx {
        margin: 10px 0;
        input {
            vertical-align: top;
        }
    }
    .sidebarDrpdwn {
        padding: 1px;
        margin: 0 0 10px 0;
        .header {
            padding: 5px;
            display: block;
            color: @primary-color-font;
            text-decoration: none;
            background-color: @dropdown-background-color;
            &:hover {
                color: @primary-btn-color-hover;
            }
            .icon {
                margin: 0 5px 0 5px;
                font-size: 1.3em;
            }
            .text {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1.1em;
            }
            .drpdwn-toggle {
                float: right;
                margin: 3px 5px 0 0;
            }
        }
        /* .drpdwn-content {
            display: none;
        } */
        .content-components {
            padding: 5px;
            list-style: none;
            li {
                a {
                    display: block;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: @primary-color-font;
                    padding: 10px 5px;
                    background-color: @primary-btn-color;
                    margin: 0 0 2px 0;
                    text-decoration: none;
                    &.active {
                        background-color: @primary-btn-color-active;
                    }
                    &:hover {
                        background-color: @primary-btn-color-hover;
                    }
                }
            }
        }
        .content-settings {
            padding: 5px;
            list-style: none;
            li {
                label {
                    display: block;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-top: 10px;
                }
                select {
                    width: 100%;
                    padding: 3px;
                    background-color: @primary-btn-color;
                    border-color: @input-border-color;
                    color: @primary-color-font;
                }
                input {
                    width: 100%;
                    padding: 3px;
                    background-color: @primary-btn-color;
                    border-color: @input-border-color;
                    color: @primary-color-font;
                }
                &.counter {
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-top: 15px;
                    .countNo {
                        color: @primary-btn-color-hover;
                    }
                }
            }
        }
        .content-wod {
            .date {
                font-weight: bold;
                color: @primary-btn-color-hover;
            }
            .wod-block {
                .title {
                    margin-bottom: 2px;
                    font-weight: bold;
                }
                ul {
                    list-style: none;
                    padding-left: 20px;
                    li {
                        &.active {
                            color: @primary-btn-color-hover;
                        }
                    }
                }
            }
        }
    }
}


/**
* Everything contained in main content
**/

main#content {
    width: calc(~'100% - 250px');
    float: left;
    padding: 0 20px;
    #siteHeading {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 50px;
        .date {
            color: @primary-btn-color-hover;
        }
    }

    #leaderboard {
        .heading {
            text-transform: uppercase;
            font-weight: bold;
        }
        .exerciseTable {
            padding: 5px 10px;
            background-color: @box-background-color;
            table {
                margin-bottom: 0;
                caption {
                    text-align: center;
                    text-transform: uppercase;
                    color: @primary-color-font;
                    font-weight: bold;
                }
                td {
                    border: none;
                }
                tr:first-of-type {
                    border-top: 1px solid #ddd;
                }
                .td_name {}
                .td_date {
                    text-align: right;
                }
                .td_reps {
                    text-align: right;
                }
            }
        }
        .athletes {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @media(min-width: 1920px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            .athlete {
                position: relative;
                background-color: #fff;
                padding: 5px;
                margin: 4px 5px;
                height: 300px;
                &:first-child {
                    margin-left: 0;
                }
                
                @media(min-width: 1920px) {

                    &:nth-child(4n+5) {
                        margin-left: 0;
                    }

                    &:nth-child(4n+0) {
                        margin-right: 0;
                    }
                }
                
                @media(max-width: 1919px) {

                    &:nth-child(3n+4) {
                        margin-left: 0;
                    }

                    &:nth-child(3n+0) {
                        margin-right: 0;
                    }
                }


                .thmbnl {
                    position: relative;
                    height: 50%;
                    overflow: hidden;

                    .place {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.7);
                        color: @primary-btn-color-hover;
                        font-size: 30px;
                        padding: 2px 5px;
                        font-weight: bold;
                    }
                }
                .thmbnl img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    height: 100%;
                    width: auto;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                .thmbnl img.portrait {
                    width: 100%;
                    height: auto;
                }
                .description {
                    background-color: #000;
                    position: absolute;
                    left: 5px;
                    right: 5px;
                    bottom: 5px;
                    top: 50%;
                    padding: 5px;
                }
                .title {
                    font-size: 1.2em;
                    width: 90%;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .award {
                    position: absolute;
                    top: 10px;
                    right: 5px;
                    color: #ff0;
                }
                .subTitle {
                    color: rgb(110, 110, 110);
                    font-size: 0.9em;
                    margin-bottom: 3px;
                }
                .reps {
                    text-transform: uppercase;
                    font-size: 1.1em;
                    font-weight: bold;
                    color: @primary-btn-color-hover;
                }
            }
        }
    }
}